.pag-cadastro {
    max-width: 100%;
    margin: 0 auto;
    height: 750px;
    background-color: #ecf0f1;
}
.container {
    max-width: 1300px;
    height: 180px;
    margin: 0 auto;
}
.box-register {
    float: left;
}
.image {
    float: right;
    margin-top: 100px;
}
.box-register h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.box-register p {
    margin-bottom: 0; 
    font-size: 20px;
}
.input-padrao {
    width: 500px;
    border-radius: 5px;
    border: 1px grey solid ;
    height: 30px;
    padding-left: 30px;
}
.btn-green {
    color: white;
    background-color: #02a502;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
}