body {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    background: black;
}

.header .caixa {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.header .caixa .logo {
    float: left;
    color: white;
}

.header nav {
    float: right;
    color: white;
    margin-top: 20px;
}

ul {
    list-style: none;
}

ul li {
    color: white;
    display: inline;
    margin-left: 25px;
  }

.apresentacao {
    background-image: url('../img/team.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    text-align: center;
    color: white;
}
.apresentacao .caixa {
    max-width: 1080px;
    margin: 0 auto;
}
.apresentacao p {
    padding-top: 40px;
    font-size: 20px;
  }
  
.aparesentacao_titulo {
    padding-top: 50px;
    font-size: 50px;
    margin: 0;
}

.cabecalho {    
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}
.cabecalho .caixa {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}
.cabecalho span {
    float: left;
    margin: 0;
    color: white;
}
.cabecalho .email {
    float: right;
    margin-top: 30px;
}

.cor-orange {
    color: orangered;
}
.inp-simple {
    border: solid white;
}
.button-orange {
    background-color: orangered;
    border: solid orangered;
}

.sobre {
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sobre .caixa {
    max-width: 1000px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;

}
.box1 {
    text-align: center;
    width: 170px;
    float: left;
}
.box2 {
    text-align: center;
    width: 170px;
    float: left;
    margin-left: 200px;
}
.box3 {
    text-align: center;
    width: 170px;
    float: right;
    margin-left: 200px;
}
.card {
    width: 125px;

}
.cardtxt {
    margin: 0;
}

footer {
    background-color: orangered;
    height: 60px;
}
footer p {
    padding-top: 25px;
    color: white;
    text-align: center;
}